# Introduction to SQL for Excel Users â€“ Part 18: Basic CASE WHEN

[Original post](https://www.daveondata.com/blog/introduction-to-sql-for-excel-users-part-18-basic-case-when/)

## The Data

For the purposes of this post, the following query provides the data used in both Excel and SQL code:

The SQL groups the individual rows of FactResellerSales to the SalesOrderNumber grain and calculates a total SalesAmount for each sales order.

In [ ]:
SELECT FRS.SalesOrderNumber
      ,SUM(FRS.SalesAmount) AS SalesAmount
FROM FactResellerSales FRS 
GROUP BY FRS.SalesOrderNumber
ORDER BY FRS.SalesOrderNumber

## Conditional Data in SQL

To make my coding a little easier, Iâ€™m going to use a common table expression (CTE) to aggregate FactResellerSales:

In [ ]:
WITH SalesOrders AS
(
    SELECT FRS.SalesOrderNumber
          ,SUM(FRS.SalesAmount) AS SalesAmount
    FROM FactResellerSales FRS 
    GROUP BY FRS.SalesOrderNumber
)

Iâ€™ve covered CTEs previously, if youâ€™re not familiar check out this post.

The SQL equivalent of the Excel IF function is CASE WHEN.

Iâ€™ll demonstrate the SQL first and discuss after:

In [ ]:
WITH SalesOrders AS
(
    SELECT FRS.SalesOrderNumber
          ,SUM(FRS.SalesAmount) AS SalesAmount
    FROM FactResellerSales FRS 
    GROUP BY FRS.SalesOrderNumber
)
SELECT SO.SalesOrderNumber
      ,SO.SalesAmount
      ,CASE
        WHEN SO.SalesAmount > 8400 THEN 'Large'
        ELSE 'Small'
       END AS OrderSize
FROM SalesOrders SO
ORDER BY SO.SalesOrderNumber;

Conceptually, the SQL â˜ maps to Excel as such:

1. CASE and END map to IF( and ), respectively
1. WHEN SO.SalesAmount > 8400 maps to B2 > 8400
1. THEN 'Large' maps to "Large"
1. ELSE 'Small' maps to "Small"

Yes, unfortunately, using CASE WHEN involves a lot more typing than using IF in Excel. ðŸ˜¢

## Multiple Conditional Data in SQL

As you might imagine, itâ€™s easy to extend CASE WHEN to the mulitple condition scenario.

You just add more WHENs!

In [ ]:
WITH SalesOrders AS
(
    SELECT FRS.SalesOrderNumber
          ,SUM(FRS.SalesAmount) AS SalesAmount
    FROM FactResellerSales FRS 
    GROUP BY FRS.SalesOrderNumber
)
SELECT SO.SalesOrderNumber
      ,SO.SalesAmount
      ,CASE
        WHEN SO.SalesAmount < 1545 THEN 'Small'
        WHEN SO.SalesAmount < 8400 THEN 'Medium'
        WHEN SO.SalesAmount < 34234 THEN 'Large'
        ELSE 'Extra Large'
       END AS OrderSize
FROM SalesOrders SO
ORDER BY SO.SalesOrderNumber;

Even though I prolly donâ€™t have to, Iâ€™m going to mention this.

Notice that SQL works like Excel.

That is, the first qualifying WHEN condition determines what is returned from the CASE, or ELSE if none of the WHENs apply.

## Embedding CASE WHENs

It is totally acceptable to embed a CASE WHEN inside another CASE WHEN.

Hereâ€™s a really contrived example. ðŸ˜‰

Letâ€™s say I need to differentiate Small sales order by whether they end in an odd or even number.

In [ ]:
WITH SalesOrders AS
(
    SELECT FRS.SalesOrderNumber
          ,SUM(FRS.SalesAmount) AS SalesAmount
    FROM FactResellerSales FRS 
    GROUP BY FRS.SalesOrderNumber
)
SELECT SO.SalesOrderNumber
      ,SO.SalesAmount
      ,CASE
        WHEN SO.SalesAmount < 1545 THEN
            CASE
                WHEN RIGHT(SO.SalesOrderNumber, 1) % 2 = 0 THEN 'Small Even'
                ELSE 'Small Odd'
            END                                        
        WHEN SO.SalesAmount < 8400 THEN 'Medium'
        WHEN SO.SalesAmount < 34234 THEN 'Large'
        ELSE 'Extra Large'
       END AS OrderSize
FROM SalesOrders SO
ORDER BY SO.SalesOrderNumber;

I wonâ€™t explain the embedded CASE WHEN because I think you got it. ðŸ˜

I will explain the following SQL snippet:

```
RIGHT(SO.SalesOrderNumber, 1) % 2 = 0

```

The RIGHT function takes in a string (in this case, the sales order number) and gives back X number of characters starting from the right side of the string.

In this case, the last character of SalesOrderNumber.

The % is the T-SQL modulo arithmetic operator. It return the remainder of one number divided by another.

Conceptually, hereâ€™s how the â˜ SQL snippet works:

1. Grab the last character of the SalesOrderNumber using RIGHTâ€¦
1. Implicitly transform the character (i.e., CAST) it to an INTEGERâ€¦
1. Divide #2 by 2â€¦
1. Check to see if the remainder is 0 (i.e., check to see if the number is even).

Sweet!

Contrived SQL with a bit of a ðŸ§ !

## The Learning Arc

The next post will continue coverage of CASE WHEN and how it becomes arguably the most useful thing in SQL for the analytics pro.

Yes, Iâ€™m referring to combining CASE WHEN with GROUP BY.

Stay healthy and happy data sleuthing!